# Logs
logs
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# wails
*.exe~
*.exe
*.syso
node_modules
/build/bin
/frontend/dist
/frontend/wailsjs
/frontend/package.json.md5
