@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html{
        @apply text-gray-200
    }

  @keyframes moveGradient {
    0% {
      background-position: 40% 50%; /* Start with a balance between red and blue */
    }
    50% {
      background-position: 50% 50%; /* Minimal movement */
    }
    100% {
      background-position: 40% 50%; /* Return to initial position */
    }
  }

  .animated-bg {
    background: linear-gradient(135deg, #fc1d51 0%, #196cc4 70%);
    background-size: 200% 200%;
    animation: moveGradient 20s ease infinite; /* Slow, subtle movement */
  }
}
